*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/

.flex{
    display: flex;
}

.barra{
    width: 100vw;
    height: 82px;
    background-color: black;
    justify-content: flex-end;
}

.barra button{
    height: 24px;
    color: white;
    padding: 0px 4px;
    background-color: gray;
    cursor: pointer;
    border-radius: 7px;
}

/*main*/

.container{
    width:100%;
    background-color: black;
    justify-content: center;
    padding-top: 10px;
    
}

.user{
    width: 90%;
    background-color: black;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-around;
    
}

.box{
    width: 167px;
    height: 139px;
    margin-bottom: 19px;
    display: inline-block;
    position: relative;
}

img{
    width: 167px;
    height: 139px;
}

.nome{
    width: 65px;
    height: 20px;
    color: white;
    background-color: rgba(128, 128, 128, 0.7);
    font-size: 13px;
    position: absolute;
    left: 0;
    bottom: 0;
}

/*footer*/

.inf{
    justify-content: space-between;
}

.imp{
    width: 120px;
    background-color: orange;
}

.menu{
    width: 440px;
    background-color: orange;
}

.fine{
    width: 70px;
    background-color: orange;
}




