*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*header*/

.flex{
    display: flex;
}

.barra{
    width: 100vw;
    height: 50px;
    background-color: black;
    justify-content: flex-end;
}

.barra div{
    width: 90px;
    background-color: orange;
}

/*main*/

.container{
    width: 100vw;
    height: 100vh;
    background-color: violet;
    justify-content: center;
    align-items: center;
}

.user{
    width: 90%;
    height: 90%;
    background-color: blueviolet;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user div{
    width: 235px;
    height: 155px;
    background-color: blue;
    border: 1px solid black;
    display: inline-block;
}